.contact_container {
    height: 900px;
    background: black ;
}

.contact_h1{
    color: aliceblue;
    padding-top: 30px;
    margin-left: 50px;
}


.address{
    color: aliceblue;
}


.className{
    border: 0px;
    
}

.google-map{
    margin-top: 40px;
    margin-left: 50px;
}